# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
run_soba
.local_dist/
/coverage.txt
/coverage.tmp
run_soba_*
testing/backups
/soba

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temporary files
*.swp

# ide
.idea

# vscode env
.env
.vscode

dist/
